@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Nosifer&family=Raleway:ital,wght@0,100..900;1,100..900&family=Rubik+80s+Fade&family=Warnes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nosifer&family=Raleway:ital,wght@0,100..900;1,100..900&family=Rubik+80s+Fade&family=Warnes&display=swap');

*{
  font-family: "Delicious Handrawn", cursive;
  font-weight: 400;
  font-style: normal;
}
body {
  background: #16222a;
}
.App {
  width: 950px;
  margin: 10px auto;
  text-align: center;
  background: linear-gradient(to right, #16222a, #3a6073);
  color: white;
  padding: 10px;
  border-radius: 4px;
}
.headingOne {
  font-family: "Nosifer", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.playersDiv {
  width: 250px;
  border: 2px solid gold;
  border-radius: 20px;
  margin: 10px;
  color: white;
  padding: 10px;
 
}

.teamIndiaAPlus,.teamIndiaA,.teamIndiaB{

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.playersImage {
  width: 150px;
  height: 150px;
}
